*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align-last: center; 
}
h1,.row{
    padding: 1em;
}
.btn{
    border: none;
    color: #ffffff;
    margin-bottom: 1em;
    margin-top: -0.5em !important;
}
.btn:focus{
    color: #ffffff;
}
#enviar{
    background-color: #0e7f0e;
}
#enviar:hover{
    background-color: #006400;
    color: #ffffff;
}